.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 180s linear; */
  height: 95px;
}

.App-header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: black;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, black 0%, black 50%) 0 / 15px 15px;
}

.App-title {
  font-size: 3em;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  margin-bottom: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-footer {
  font-size: 1em;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: 'Futura';
  height: 135px;
  background-color: black;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, black 0%, black 50%) 0 / 15px 15px;
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 55px #ffff00, 0 0 75px #ffff00;
  text-align: center;
  margin-bottom: 0;
}

#body {
  margin-top: 175px;

}

.App-heart {
  position: center;
  height: 70px;
  text-align: center;
  padding-top: 10px;
}
